<section class="mt-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
				<h3 class="mb-4">Signup</h3>
				<form #f="ngForm" (ngSubmit)="onSubmit(f)">
					<input type="email" #email="ngModel" ngModel name="email" placeholder="Email" class="form-control" required email>
					<p *ngIf="email.invalid && email.touched" class="mt-2 alert alert-danger">this filed requierd</p>

					<input type="password" name="password" #pass="ngModel" ngModel placeholder="Password" class="form-control mt-2" minlength="6" required>
					<p *ngIf="pass.errors?.required && pass.touched" class="mt-2 alert alert-danger">this filed requierd</p>
					<p *ngIf="pass.errors?.minlength && pass.touched" class="mt-2 alert alert-danger">Password must be at least 6 characters</p>
					
					<div class="mt-3">
						<p class="float-left color-gray">Are you have an account? <a routerLink="/login">login</a></p>
						<button class="btn btn-primary float-right" type="submit" [disabled]="f.invalid">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>